.top{
	&-container{
	font-size: 10px;
	height:100%;
	}
	&-left{
		@extend .m-all;
		@extend .d-1of2;
		@include background(image-url("top-left.jpg"));
		@include background-size(cover);

		height:100vh;
		background-color: red;

	}
	&-right{
		@extend .m-all;
		@extend .d-1of2;
		@include background(image-url("top-right.jpg"));
		@include background-size(cover);

		height:100vh;
		background-color: blue;


	}


}

